[tool.black]
line-length = 88
target-version = ['py311']
include = '\.pyi?$'
exclude = '''
/(
    \.git
  | \.venv
  | venv
  | migrations
  | __pycache__
)/
'''

[tool.ruff]
line-length = 88
target-version = "py311"

select = [
    "E",
    "W",
    "F",
    "I",
    "B",
    "C4",
    "UP",
]

ignore = [
    "E501",
]

exclude = [
    ".git",
    ".venv",
    "venv",
    "migrations",
    "__pycache__",
]

[tool.ruff.isort]
known-first-party = ["config", "apps"]
